body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.cabecera {
    background-color: #212121;
    padding: 15px 40px;
    border-bottom: 4px solid #f39c12; 
    margin-bottom: 40px;
}

.c-cabecera {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 2.5em;
    font-weight: 700;
    color: #f39c12;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: 5px;
}

.logo-alt {
    color: #c0c0c0;
}

.c-busq {
    float: right;
    margin-top: 5px;
}

.icono-busq {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 2px;
}

.c-busq input {
    background-color: #2c2c2c;
    border: 1px solid #555; 
    border-radius: 25px;
    padding: 10px 15px; 
    width: 300px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    vertical-align: middle;
    margin-left: 10px;
}

.c-busq input:focus {
    outline: none;
    border-color: #f39c12;
}

.c-ppal {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.col-cont {
    float: left;
    width: 70%;
}

.lateral {
    float: right;
    width: 25%;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}

.tit-lat {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
}

.lateral ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

.lateral li {
    padding: 12px 0;
    border-bottom: 1px solid #333;
}

.lateral a {
    color: #d8d1d1;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}

.lateral a:hover {
    color: #ffffff;
}

.c-desc {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #f39c12;
}

.portada img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.titulo-juego {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.info-juego {
    margin-bottom: 40px;
    overflow: hidden;
}

.dato {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-bottom: 20px;
}

.dato h3 {
    margin: 0;
    font-size: 1em;
    color: #aaa;
    margin-bottom: 5px;
}

.dato span {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    margin-top: 5px;
}

.dato img {
    width: 100px;
    border-radius: 8px;
    margin-top: 5px;
}

.btn-desc {
    display: inline-block;
    background-color: #f39c12;
    color: #1a1a1a;
    padding: 20px 60px;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
}

.btn-desc:hover {
    background-color: #e67e22;
}

.c-plataforma {
    background-color: #212121;
    border: 1px solid #444; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}

.titulo-plat {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
}

.img-server {
    width: 250px; 
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
}

.img-server:hover {
    opacity: 0.8;
    border-color: #f39c12;
}